<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Information</title>
    <link rel="stylesheet" typle="text/css" href="css/style.css">
</head>
<body>
    <div th:text="${player.nameP+ '  ' + player.surname}">
    </div>

    <!-- <h3>Matches</h3> -->
    <!-- <div th:each="game, gameIter : ${games}" id="match">
        <div  th:text="${'Kolejka '+game.round+'.  ('+#dates.format(game.dateOfMatch, 'dd-MM-yyyy')+')  '}"> </div>
        <div  th:text="${game.teamHome.nameT+' '+game.resultHome+' - '+game.resultGuest+' '+game.teamGuest.nameT}"> </div> -->
    </div>

</body>
</html>
