<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script href="../js/login.js"></script>
    <link rel="stylesheet" typle="text/css" href="../css/style.css">
    <script src="../js/login.js"></script>
    
    <title>Login</title>
</head>
<body>
    <form id="loginForm">
        <h2>Login</h2>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit" action>Login</button>
        <p id="error-message" style="color: red;"></p>
    </form>

    <div id="mojElement">
        <!-- Tutaj zostanie dołączona zawartość z pliku HTML za pomocą JavaScript -->
    </div>

    <script>
        login();

        // Pobrac zawartosc pliku adminContnet za pomoca fetch (plik ten ma miec dostep tylko z tokenem)
        
        // Pobierz zawartość pliku HTML za pomocą fetch
            fetch('http://localhost:8080/api/admin/content',{
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + localStorage.getItem("jwttoken")
                }
            })
            .then(response => {
                return response.text();
            })
            .then(html => {
                console.log(html);
                document.getElementById("mojElement").innerHTML = html;
            })
            .catch(error => console.error('Błąd podczas pobierania pliku:', error));

    </script>

    

</body>
</html>
