<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Content</title>
    <script href="../js/addMatch.js"></script>
</head>
<body>

<div class="admin-content">
    <h2>Admin Panel</h2>
    <p>Hello Admin!</p>
    <p>You can add and modify matches.</p>
    <br><br>

    <div class="matches">
        <h3>Mecze </h3>
        <div th:each="game, gameIter : ${games}" id="match">
            <div  th:text="${'Kolejka '+game.round+'.  ('+#dates.format(game.dateOfMatch, 'dd-MM-yyyy')+')  '}"> </div>
            <div  th:text="${game.teamHome.nameT+' '+game.resultHome+' - '+game.resultGuest+' '+game.teamGuest.nameT}"> </div>
            <hr>
        </div>
    </div>
<br> <br>
    <div class="addMatch">
        <h3>Add Match</h3>
        <form id="addMatch">
            <label for="homeTeam">Home Team</label><br>
                <select field="homeTeam">
                    <option th:each="homeTeam, gameIter : ${teams}" th:value="${homeTeam.id}" th:text="${homeTeam.nameT}"></option>
                </select> <br> <br>
            <label for="hguestTeam">Guest Team</label><br>
                <select field="hguestTeam">
                    <option th:each="guestTeam, gameIter : ${teams}" th:value="${guestTeam.id}" th:text="${guestTeam.nameT}"></option>
                </select>
            <button value="add_Match" action >Add Match</button>
          </form>
    </div>
</div>

<script>
    document.getElementById("addMatch").addEventListener('submit', addMatch());
</script>


</body>
</html>
