<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Content</title>
    <script href="../js/adminOperations.js"></script>
</head>
<body>

<div class="admin-content">
    <h2>Admin Panel</h2>
    <p>Hello Admin!</p>
    <p>You can add and modify matches.</p>
    <br><br>

    <div class="matches">
        <h3>Matches </h3>
        <div th:each="game, gameIter : ${games}" id="match">
            <div  th:text="${'Round '+game.round+'.  ('+#temporals.format(game.dateOfMatch,'dd-MM-yyyy')+')  '}"> </div>
            <div  th:text="${teams[game.teamHome-1].nameT+' '+game.resultHome+' - '+game.resultGuest+' '+teams[game.teamGuest-1].nameT}"> </div>
            <input type="button" value="Delete" th:onclick="'deleteMatch(\'' + ${game.id} + '\');'">
            <br>
            <hr>
            <br>
        </div>
    </div>
<br> <br>
    <div>
        <h3>Add Match</h3>

        <form id="addMatch">
            <label for="homeId">Home Team</label><br>
                <select id="homeId" field="homeTeam">
                    <option th:each="homeTeam, gameIter : ${teams}" th:value="${homeTeam.id}" th:text="${homeTeam.nameT}"></option>
                </select> <br> <br>
            <label for="guestId">Guest Team</label><br>
                <select id="guestId" field="hguestTeam">
                    <option th:each="guestTeam, gameIter : ${teams}" th:value="${guestTeam.id}" th:text="${guestTeam.nameT}"></option>
                </select> <br> <br>
            <label for="round">Round</label><br>
                <select id="round" field="round">
                    <option th:each="i: ${#numbers.sequence(1, 6)}" th:value="${i}" th:text="${i}"></option>
                </select> <br> <br>
            <label for="date">Date of match:</label>
                <input type="date" id="date" name="date">
            <button type="submit" action >Add Match</button>
        </form>

    </div>
</div>



</body>
</html>
