<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" typle="text/css" href="/css/style.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="team, teamIter : ${teams}">
                <td th:text="${teamIter.count}"></td>
                <td th:text="${team.nameT}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
