<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Information</title>
    <link rel="stylesheet" typle="text/css" href="css/style.css">
</head>
<body>
    <div class="team-info">
        <h2 th:text="${team.nameT}"></h2>
        <img th:src="${team.logoURL}" alt="Team Logo">
    </div>

    <h3>Players List</h3>
    <div th:each="player, playerIter : ${players}">
        <ul>
            <li th:text="${player.nameP+' '+player.surname}"></li>
        </ul>
    </div>
</body>
</html>
